<ion-view style="" id="page7" title="About">
    <ion-content class="has-header" padding="true" style="background: url(img/Plasma.jpg) no-repeat center;background-size:cover;">
        <div style="color: rgb(255, 255, 255);" id="about-markdown5">
            <p>Leadership Training for Christ is an organization dedicated to stimulating and encouraging spiritual, mental, and social growth among young men and women in the third through twelfth grades. Its mission is to achieve this growth by developing
                skills in leadership, Bible knowledge, and Christian servanthood.</p>

            <p>Skill development in each of these areas is accomplished through participation in a variety of individual and group events that are conducted at a convention held Easter weekend each year. These events take place within the context of a wholesome
                and supportive environment designed for the purpose of fostering enthusiasm and high achievement among the participants.</p>

            <p>The events are divided into grade and gender categories as is appropriate and involve Christian young people from all over the country.</p>

            <p>The organization encourages the involvement and support of parents, local church leaders, and other interested adults in the preparation leading to and during the convention. Although the convention primarily consists of achievement events,
                the weekend culminates in a worship service to reinforce the spiritual aims of the program.</p>

            <p>May God be glorified as young people learn to walk in His light through the efforts of Leadership Training for Christ.</p>
        </div>
    </ion-content>
</ion-view>
