<ion-view style="" id="page10" title="Contact Details">
    <ion-content class="has-header" padding="true" style="background: url(img/Plasma.jpg) no-repeat center;background-size:cover;">
        <ion-list style="">
            <ion-item style="" class="item-text-wrap">
                <b>{{ contact.name }}</b><br>
                <hr>
                <table style="border-collapse: separate;border-spacing: 5px;">
                   <tr><td><b>Roles:</b></td><td>{{ contact.Duties }}</td></tr>
                   <tr><td><b>Phone:</b></td><td>{{ contact.Phone }}</td></tr>
                   <tr><td><b>Email:</b></td><td>{{ contact.Email }}</td></tr>
                   <tr><td><b>Bio:</b></td><td>{{ contact.Bio }}</td></tr>
                </table>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
