<ion-view style="" id="page6" title="FAQ">
    <ion-content class="has-header" padding="true" style="background: url(img/Plasma.jpg) no-repeat center;background-size:cover;">
        <ion-list style="">
            <ion-item style="">Dress Code</ion-item>
            <ion-item style="">Meals</ion-item>
            <ion-item style="">Event Rules</ion-item>
            <ion-item style="">Where to put my luggage?</ion-item>
            <ion-item style="">Where is registration?</ion-item>
            <ion-item style="">Lost and Found</ion-item>
            <ion-item style="">Have/Need Banquet tickets?</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
