<ion-view  style="" id="page8" title="Map">
    <ion-content class="has-header" padding="true" style="background: url(img/Plasma.jpg) no-repeat center;background-size:cover;">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;">
           <ion-scroll zooming="true" overflow-scroll="false" direction="xy" scrollbar-x="false" scrollbar-y="false" id="scrolly"  style="width: 100%;">
                <img id="map" src="img/jwMarriottFloorPlan.png" width=100%>
           </ion-scroll>
         </div>
    </ion-content>
</ion-view>
